[theme="dark"] {
  --app-background-color: #02021F;
  --header-bg-col: #0F0F2D;
  --header-col: rgb(146, 171, 207);
  --dynamic-head-bg: #6bb2eb;
  --default-col: rgb(146, 171, 207);
  --nav-link: #fff;

  --card-col: rgb(17, 236, 229);
  --card-bg: rgb(9, 7, 5);
  --card-border: rgb(49, 74, 110);

  --sidebar-bcg: rgb(7, 13, 23);

  --input-color:rgb(7, 13, 23);

  --input-border-col:rgb(49, 74, 110);
  --input-col: #fff;

  --camp-cards-bcg:rgb(29, 38, 54);
  --pagination-col:rgb(7, 13, 23);


  --p-color: #fff;
  --user-icon: grey;
}

[theme="light"] {
  --app-background-color: #bbd8f13b;
  --header-bg-col: #fff;

  --header-col: #5C2EFC;
  --dynamic-head-bg: linear-gradient(90deg, rgba(52, 144, 220, 0.44) 0%, rgba(52, 144, 220, 0.34) 35%, #e83e8c59 100%);
  --default-col: #6c757d;
  --nav-link: #1F1F56;

  --card-col: #e83e8c59;
  --card-bg: #fff;
  --card-border: #e3e3e3;

  --sidebar-bcg: #fff;

  --input-color:#fff;
  --input-border-col: #ced4da;
  --input-col: #495057;

  --camp-cards-bcg:#fff;
  --pagination-col:#e3e3e3;


  --p-color: #1F1F56;
  --user-icon: #fff;

}

