<template>
  <div id="login">
    <modal name="login" height="auto" :width="500" :adaptive="true" :scrollable="true" >
      <div class="card-body">
        <img src="@/assets/images/close.svg" alt="close" class="pointer" @click="$modal.hide('login')">
        <div class="form-inner">
          <h3>Login</h3>
          <div>
            <div class="form-group">
              <label>Email address</label>
              <input type="text" placeholder="Email address" required="" v-model="email">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" placeholder="Password" v-model="password">
            </div>
            <div class="forgot-box pointer">
              <a>Forgot password?</a>
            </div>
            <div class="login-btn ">
              <button class="pointer" @click="logIn()">Log In</button>
            </div>
            <div class="bottom-box pointer">
              <div class="text">Don't have an account? <a @click="signUp">Signup</a></div>
            </div>
          </div>
        </div>
      </div>
    </modal>
    <Register/>
  </div>
</template>

<script>
import Register from "@/components/modals/Register";
import { mapActions } from 'vuex';
export default {
  name: "Login",
  components: {Register},
  data(){
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    ...mapActions(['login']),
    signUp() {
      this.$modal.hide('login');
      this.$modal.show('register');
    },
    logIn() {

      let data = {
        email: this.email,
        password: this.password
      }
      this.login(data)
        .then(response => {
          console.log(response)
        })
        .catch(error => {
          console.log(error)
        })
    }
  }
}
</script>

<style lang="scss">
  #login {
  .card-body {
    padding: 30px;
    position: relative;
    img {
      position: absolute;
      right: 30px;
      background: #f0f5f7;
      border-radius: 8px;
      padding: 10px;
      top: 20px;
    }
  }
  .forgot-box {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    a {
      font-size: 14px;
    }
  }
  .login-btn {
    margin-top: 10px;
    button {
      text-align: center;
      color: #fff;
      background-color: #1967d2;
      font-size: 15px;
      line-height: 20px;
      border-radius: 8px;
      padding: 18px 35px 15px;
      width: 100%;
      border: none;
      font-weight: bold;
    }
  }
  .bottom-box {
    margin-top: 15px;
    font-weight: bold;
    .text {
      font-size: 14px;
      line-height: 19px;
      color: #696969;
      text-align: center;

    }

  }
  .form-inner {
      label {
        font-size: 15px;
        line-height: 20px;
        color: #202124;
        font-weight: 600;

      }
    input {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        display: block;
        height: 60px;
        line-height: 30px;
        padding: 15px 20px;
        font-size: 15px;
        color: #696969;
        background: #f0f5f7;
        border: 1px solid #f0f5f7;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 8px;
        outline: none;
      }
    h3 {
      font-weight: bold;
      font-size: 24px;
      color: #202124;
      text-align: center;
      margin-bottom: 15px;
      margin-top: 0;
    }
  }

}
</style>