<template>
  <div id="register">
    <modal name="register" height="auto" :width="500" :adaptive="true" :scrollable="true" >
      <div class="card-body">
        <img src="@/assets/images/close.svg" alt="close" class="pointer" @click="$modal.hide('register')">
        <div class="form-inner">
          <h3>Create a Account</h3>
          <div>
            <div class="form-group">
              <label>Name</label>
              <input type="text" placeholder="Enter name" required="" v-model="name">
            </div>
            <div class="form-group">
              <label>Email address</label>
              <input type="text" placeholder="Email address" required="" v-model="email">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" placeholder="Password" v-model="password">
            </div>
            <div class="register-btn ">
              <button class="pointer" @click="signUp()">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "Register",
  data(){
    return {
      name: '',
      email: '',
      password: ''

    }
  },
  methods: {
    // ...mapActions(['register']),
    signUp() {

      let data = {
        name: this.name,
        email: this.email,
        password:this.password
      }
      this.register(data)
        .then(response => {
          console.log(response)
        })
        .catch(error => {
          console.log(error)
        })
    },
  }
}
</script>

<style lang="scss">
#register {
  .card-body {
    padding: 30px;
    position: relative;
    img {
      position: absolute;
      right: 30px;
      background: #f0f5f7;
      border-radius: 8px;
      padding: 10px;
      top: 20px;
    }
  }
  .register-btn {
    margin-top: 20px;
    button {
      text-align: center;
      color: #fff;
      background-color: #1967d2;
      font-size: 15px;
      line-height: 20px;
      border-radius: 8px;
      padding: 18px 35px 15px;
      width: 100%;
      border: none;
      font-weight: bold;
    }
  }
  .bottom-box {
    margin-top: 15px;
    font-weight: bold;
    .text {
      font-size: 14px;
      line-height: 19px;
      color: #696969;
      text-align: center;

    }

  }
  .form-inner {
    label {
      font-size: 15px;
      line-height: 20px;
      color: #202124;
      font-weight: 600;

    }
    input {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
      display: block;
      height: 60px;
      line-height: 30px;
      padding: 15px 20px;
      font-size: 15px;
      color: #696969;
      background: #f0f5f7;
      border: 1px solid #f0f5f7;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 8px;
      outline: none;
    }
    h3 {
      font-weight: bold;
      font-size: 24px;
      color: #202124;
      text-align: center;
      margin-bottom: 15px;
      margin-top: 0;
    }
  }

}
</style>