<template>
    <div id="successReg">
        <div class="success-holder">
            <span class="d-block text-white mb-1">You've successfully verified your account!</span>
            <a class="d-block mx-auto text-center cursor-pointer" @click="$router.push('/login')"> Back to sign in</a>
        </div>
    </div>
</template>

<script>
export default {
    name: "SuccessRegistration",
    data() {
        return {

        }
    },
    mounted() {
    },
    methods: {

    }
}
</script>

<style scoped lang="scss">
@import "src/assets/scss/style";
#successReg {
    height: 100vh;
    background-image: url('../../assets/images/main.png');
    position: relative;
    .success-holder {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        a {
            color: $violet_col_dark;
            &:hover {
                color: $main_col;
                text-decoration: none;
            }

        }
    }
}

</style>