<template>
  <div id="home">
    <div class="elementor-widget-container container"> 
      <h1>Pronađite svoju karijeru. Zaslužujete to.</h1>
      <p>At vero eos et accusamus et iusto odio dignissimos  odio
        ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
      </p>
      <div class="widget-job-search-form">
        <div class="form-search layout1">
          <div class="flex-middle-sm search-form-inner">
            <div class="form-group form-group-title">
              <div class="form-group-inner inner">
                <i class="fas fa-pencil-alt"></i>
                <input type="text" name="filter-title" class="form-control " value="" id="ZzvNk_title" placeholder="Naziv posla">
              </div>
            </div><!-- /.form-group -->
            <div class="form-group form-group-center-location" id="geolocation">
              <div class="form-group-inner inner">
                <i class="fa fa-map-marker"></i>
                <div class="action-location">
                  <input type="text" name="filter-center-location" class="form-control" value="" id="ZzvNk_center-location" placeholder="Lokacija" autocomplete="off"><div class="leaflet-geocode-container"></div>
                  <span class="find-me"><i class="fas fa-street-view"></i></span>
                  <span class="clear-location hidden"><i class="ti-close"></i></span>
                </div>
                <input type="hidden" name="filter-center-latitude" value="">
                <input type="hidden" name="filter-center-longitude" value="">
             </div>
            </div><!-- /.form-group -->
            <div class="form-group form-group-search">
                <button class="btn-submit btn btn-block btn-theme" type="submit">Find Jobs</button>
            </div>
              </div>
           </div>
          </div>
          <div class="widgets">
            <div class="widget-achievements flex-bottom justify-content-center ">
                <div class="inner-left">
                  <i class="fas fa-user-alt"></i>
                  <span class="verify"><i class="fa fa-check"></i></span>
                </div>
                <div class="info-right">
                  <h2 class="title">
                       674.058
                  </h2>
                  <div class="description">
                    Aktivnih zaposlenih
                  </div>
              </div>
            </div>
             <div class="widget-achievements flex-bottom justify-content-center ">
                <div class="inner-left">
                  <i class="fas fa-laptop"></i>
                  <span class="verify"><i class="fa fa-check"></i></span>
                </div>
                <div class="info-right">
                  <h2 class="title">
                       74.058
                  </h2>
                  <div class="description">
                    Kompanija
                  </div>
              </div>
            </div>
             <div class="widget-achievements flex-bottom justify-content-center ">
                <div class="inner-left">
                  <i class="fas fa-flag"></i>
                  <span class="verify"><i class="fa fa-check"></i></span>
                </div>
                <div class="info-right">
                  <h2 class="title">
                       35
                  </h2>
                  <div class="description">
                    Gradova
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</template>

<script>


export default {
  name: "Welcome",
  data (){
    return  {
    }
  },
  methods: {
  },

}
</script>

<style lang="scss">
  #home {
    padding: 30px;
    height: calc(100vh - 70px);
    background: url('../../assets/images/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    color: #677782;
    font-size: 14px;
  }
  h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
  }
  p{
    color: #ffffff;
    font-size: 17px;
    text-transform: capitalize;
  }
   .elementor-widget-container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    max-width: 1240px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 120px auto
  }
  .form-search.layout1 {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
  .search-form-inner{
    display: flex;
    align-items: center;
    .form-group-title {
      width: 45%;
    }
    .form-group {
      margin: 0;
      border-left: 1px solid #dde6ef;
      &:first-child {
        border: none;
      }
    }
  }

  .search-form-inner > div {
    background: #fbfdff;
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    width: 30%;
  }
  .search-form-inner .form-group-title .inner, .form-group-inner.inner {
    padding-left: 25px;
    position: relative;
  }
  .search-form-inner .form-control, #mySelect .vs__dropdown-toggle {
    height: 48px;
    font-size: 15px;
    line-height: 1.5;
    border: none;
    background: #fff;
    color: #6b7c8a;
    min-width: 200px;
    cursor: pointer;
  }

  .form-control {
    background: #fbfdff;
    color: #6b7c8a;
    padding: 6px 12px;
  }
  .action-location .find-me {
    position: absolute;
    top: 22px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    right: 15px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    display: block;
    color: rgba(153, 153, 153, 0.5);
    cursor: pointer;
  }
  .form-group-inner{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-control:focus {
    border-color: #b3b1b1;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn-theme {
    color: #fff;
    background-color: #1f86ef;
    border-color: #1f86ef;
  }
  .search-form-inner .btn-submit {
    text-transform: uppercase;
    height: 48px;
    padding: 0 15px;
    font-size: 15px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .search-form-inner .form-group-search {
    width: 18%;
    border: none;
  }
  .btn-submit{
    width: 100%;
    border: none;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer
  }
  .flex-bottom {
    display: -webkit-flex;
    -webkit-align-items: flex-end;
    display: flex;
    align-items: flex-end;
    color: #fff;
    justify-content: center !important;
  }
  .widget-achievements .inner-left {
    line-height: 0;
    padding-right: 20px;
    font-size: 35px;
    position: relative;
    color: #fff
}
.widget-achievements .title {
    font-size: 25px;
    margin: 0 0 5px;
}
.widget-achievements .inner-left .verify {
    background: #1f86ef;
    color: #fff;
    width: 22px;
    height: 22px;
    text-align: center;
    position: absolute;
    right: 15px;
    bottom: -5px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.widget-job-search-form{
  margin: 30px 0 85px
}
.widgets{
    display: flex;
    justify-content: space-around;
}

</style>