<template>
  <div>
    <div class="header" id="header">
      <div style="display: flex; justify-content: space-between; margin-top: 7px">
        <img src="@/assets/images/poslovi-logo.png" alt="Logo" class="logo" />
        <button class="pointer" @click="$modal.show('login')">Login / Register</button>
      </div>
    </div>
    <Login/>
  </div>
</template>


<script>
import Login from "@/components/modals/Login";
export default {
  name: "Header",
  components: {Login},
  mounted() {
  },
  methods: {
  }
}
</script>

<style scoped lang="scss">
button {
  padding: 8px 20px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #1967d2;
  background-color: #e2eaf8;
  line-height: 20px;
  border-radius: 8px;
  font-weight: 400;
}


.header {
  height: 70px;
  padding: 10px 16px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #0000001a;
  box-shadow: 0 0 10px #0000001a;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
  width: 154px;
}
//.sticky + .content {
//  padding-top: 102px;
//}

</style>