<template>
  <div id="app">
    <Header/>
    <router-view/>
  </div>
</template>

<script>
import Header from '@/components/globals/header/Header.vue'
export default {
  name: 'app',
  components: { Header },
  data () {
    return {

    }
  },
  created() {
  },
  mounted() {

  },
  methods: {
  }
}
</script>

<style lang="scss">
@import "src/assets/scss/style";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--app-background-color);
}
// Firefox removed outline
a, a:visited, a:focus, a:active, a:hover {
  outline: 0 none;
}
#app {
    // Removed default arrow from select
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        //background: url('assets/images/down-arrow.png') no-repeat;
        background-position: 98%;
        background-color: #fff;
        cursor: pointer;
    }
}


</style>
